/* Header Section Style */
body{
    width: 1320px;
    height: 100%;
    border-radius: 16px;
    margin: 0px 20px 80px 50px;
}

header{
    /* padding: 60px 130px; */
    width: 100%;
    background-color:#FFF;
}

.header-container{
    display: flex;
    /* width: 100%; */
    padding: 50px 120px 10px 120px;
    justify-content: space-between;
}
.website-title{
    display: flex;
    gap: 10px;
}

nav li{
    list-style: none;
    margin-right: 40px;
}
nav li a{
    text-decoration: none;
}
span{
    color: #FF5400;
}
ul{
    display: flex;
}

/* Banner section Style */

.banner-section{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('image/Images/Group 13 (1) (1).png');
    width: 1170px;
    height: 500px;
    margin: 50px 50px;
    background-repeat: no-repeat;
    align-items: center;
}
.banner-title{
    padding: 80px 287px 10px 287px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}
.banner-description{
    text-align: center;
    padding: 0px 247px 0px 247px;
    color: #FFF;
    font-size: 16px;
}
.button-primary{
    color: #FFF;
    font-size: 18px;
    width: 174px;
    height: 52px; 
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 30px 120px; */
    /* border-radius: 8px; */
    /* background: rgba(255, 255, 255, 0.30); */
}
input{
    width: 170px;
    height: 52px;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    background: #FFF;
}
input > section > option{
    align-items: center;
}
#time{
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    background: #FFF;
}
#medium{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    width: 174px;
    height: 52px;
}


/* popular Tours Style */
.popular-unorderd-list{
    display: inline;
    margin: 0 auto;
    width: 1140px;
}
.popular-tour-container{
    display: flex;
    width: 1170px;
    margin-top: 75px;
    margin-left: 48px;
    margin-right: 0px;
    gap: 25px;
}
.popular-tour-div{
    padding-left: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 20px;
    font-weight: 400;
    /* background-color: #FF5400; */
}
.hill{
    width: 540px;
    height: 550px;
}


/* Destination Styles */
.destination-section{
    width: 93%;
    margin: 50px auto;
}
.destination-title{
    text-align: center;
}
.destination-description{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 443px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400; 
}
.all-image{
    display: grid;
    gap: 24px;
}
.first-row{
    display: flex;
    gap: 24px;
}
.second-row{
    display: flex;
    gap: 24px;
}
.third-row{
    display: flex;
    gap: 24px;
}

/* Chose file sction  */
.choose-section{
    width: 1170px;
}
.hotel-and-sarvice-div{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    gap: 25px;
}
.hotel-image{
    height: 40%;
    width: 20%;
}
.hotel-div{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px; 
    padding-left: 20px;
    padding-top: 20px;
}
.hotel-title{
    color: #131318;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 800;
}
.hotel-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}
.sarvice-image{
    height: 40%;
    width: 20%; 
}
.sarvice-div{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding-left: 20px;
    padding-top: 20px;
}
.sarvice-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.sarvice-description{
    color: #5A5A5D;
    width: 486px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.price-image{
    height: 40%;
    width: 20%;     
}
.price-div{
    padding-left: 20px;
    padding-top: 20px;
    justify-content: center;
    width: 573px;
    height: 284px;
    margin: 20px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.price-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.price-description{
    color: #5A5A5D;
    font-size: 16px;
    width: 486px;
    font-weight: 400;
    line-height: 26px; 
}
/* Newslatter Section */

.newslatter-section{
    margin: 50px auto;
    width: 1140px;
    display: flex;
    gap: 25px;
}
.newslatter-input{
    width: 474px;
    height: 422px;
    flex-shrink: 0; 
    border-radius: 16px;
    border: 1px solid #FF5400;  
    padding-left: 20px; 
}
.newslatter-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.input-write{
    width: 393px;
    height: 52px;  
    border-radius: 8px;
}
.your-name{
    width: 393px;
    height: 52px;
    margin-bottom: 16px;  
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.your-email{
    width: 393px;
    height: 52px;
    margin-bottom: 16px;  
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.sub-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}
/* website-footer styles */
.footer-section{
    margin-left: 100px;
    padding-top: 20px;
    width: 1170px;
    height: 502px;
    border-radius: 5px;
    background: rgba(19, 19, 24, 0.05);  
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.footer-description{
    text-align: center;
    padding-bottom: 30px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.social-icon{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.copyrite{
    padding-top: 70px;
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}


/* Responsive Header Section */
@media screen and (max-width:600px) {
    .header-container{
      flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    .banner-section{
        /* display: grid; */
        flex-direction: column;
        grid-template-columns: repeat(1 1fr);
    }
}