/* Header Section Style */
*{
    margin: 0;
    padding: 0;
}

*body{
    width: 100%;
    height: 100%;
    border-radius: 16px;
   
}

header{
    /* padding: 60px 130px; */
    width: 100%;
    margin-top: 20px;
    background-color:#FFF;
}

.header-container{
    display: flex;
    width: 90%;
    /* padding: 50px 120px 10px 120px; */
    justify-content: space-between;
    display: none;
}
.website-title{
    display: flex;
    gap: 10px;
}
ul{
    display: flex;
    display: flex;
    gap: 20px;
} 

nav li {
    list-style: none;
}
nav li a{
    text-decoration: none;
}
span{
    color: #FF5400;
}

/* Banner section Style */

.banner-section{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('image/Images/Group 13 (1) (1).png');
    width: 100%;
    height: 80%;
    padding-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-title{
    padding-top: 100px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
}
.banner-description{
    text-align: center;
    padding-top: 10px;
    padding-bottom:  10px;
    color: #FFF;
    font-size: 16px;
}
.button-primary{
    color: #FFF;
    font-size: 18px;
    width: 174px;
    height: 52px; 
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}
.input-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.go{
    background:#FFF;
    border: 1px solid rgb(82, 78, 78);
}
input{
    width: 170px;
    height: 52px;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    background: #ede3e3;
}
input > section > option{
    align-items: center;
}
#time{
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 400;
    background: #FFF;
}
#medium{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    width: 174px;
    height: 52px;
}


/*Our popular Tours Style */

.popular-tour-container{
    display: flex;
    width: 100%;
    margin-top: 75px;
    gap: 25px;
    /* display: none; */
}
.popular-tour-description-1{
    padding-bottom: 20px;
}
.popular-tour-description-2{
    padding-top: 20px;
}
.popular-unorderd-list{
    display: inline;
    margin: 0 auto;
    width: 1140px;
    padding: 10px auto;
}

.popular-tour-div{
    padding-left: 50px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 20px;
    font-weight: 400;
    /* background-color: #FF5400; */
}
.popular-image-container{
    width: 100%;
    height: 550px;
}


/* Chose Destination Styles */
.destination-section{
    width: 100%;
    margin: 50px auto;
    background-size: cover;
}
.destination-title{
    text-align: center;
}
.destination-description{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 650px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400; 
}
.all-image{
    display: grid;
    gap: 24px;
    justify-content: center;
}
.first-row{
    display: flex;
    gap: 24px;
    
}
.second-row{
    display: flex;
    gap: 24px;
}
.third-row{
    display: flex;
    gap: 24px;
}



/* Chose file sction  */
.choose-section{
    width: 85%;
    margin: 30px auto;
    display: none;
}
.hotel-and-sarvice-div{
    display: flex;
    /* max-width: 1170px; */
    width: 100%;
    margin: 0 auto;
    gap: 25px;
}
.hotel-image{
    height: 40%;
    width: 20%;
}
.hotel-div{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px; 
    padding-left: 20px;
    padding-top: 20px;
}
.hotel-title{
    color: #131318;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 800;
}
.hotel-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px;
}
.sarvice-image{
    height: 40%;
    width: 20%; 
}
.sarvice-div{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding-left: 20px;
    padding-top: 20px;
}
.sarvice-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.sarvice-description{
    color: #5A5A5D;
    width: 486px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.price-image{
    height: 40%;
    width: 20%;     
}
.price-div{
    padding-left: 20px;
    padding-top: 20px;
    justify-content: center;
    width: 573px;
    height: 284px;
    margin: 20px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.price-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.price-description{
    color: #5A5A5D;
    font-size: 16px;
    width: 486px;
    font-weight: 400;
    line-height: 26px; 
}


/* Newslatter Section */

.newslatter-section{
    margin: 50px auto;
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 25px;
    justify-content: left;
    /* margin: auto; */
    display: none;
}
.newslatter-input{
    width: 474px;
    height: 422px;
    flex-shrink: 0; 
    border-radius: 16px;
    border: 1px solid #FF5400;  
    padding-left: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}.newslatter-title{
    margin: 20px auto;
}
.newslatter-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 20px;
    padding: 4px;
    width: 80%;
}
.input-write{
    width: 393px;
    height: 52px;  
    border-radius: 8px;
    margin-top: 20px;
}
.your-name{
    width: 393px;
    height: 52px;
    margin-bottom: 16px;  
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.your-email{
    width: 393px;
    height: 52px;
    margin-bottom: 16px;  
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.sub-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* website-footer styles */
.footer-section{
    width: 100%;
    height: 450px;
    border-radius: 5px;
    background: rgba(19, 19, 24, 0.05);  
    display: none;
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.footer-description{
    text-align: center;
    padding-bottom: 30px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.social-icon{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.copyrite{
    padding-top: 70px;
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}


/* Responsive Header Section */
@media screen and (max-width:600px) {
    .header-container{
      flex-direction: column;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    .banner-section{
        display: grid;
        flex-direction: column;
         grid-template-columns: repeat(1 1fr);
        width: 100%;
     }.input-container{
        flex-direction: column;
        width: 100%;
    }
     /* Our popular tour section */
     .popular-tour-container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
     }
     /* Chose Destination Section */
     .first-row{
        display: grid;
        width:100%;
        justify-content: center;
        flex-direction: column;
     }
     .second-row{
        display: grid;
        width:100%;
        justify-content: center;
        flex-direction: column;
     }
     .third-row{
        display: grid;
        width:100%;
        justify-content: center;
        flex-direction: column;
     }
}